@font-face {
    font-family: 'BootsAndSpurs';
    src: url('../fonts/BootsAndSpurs.ttf'); format('ttf');
}

body {
    font-family: 'BootsAndSpurs', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'BootsAndSpurs', Verdana;
    font-size: 18px;
    color: white;
}

h2 {
    font-family: 'BootsAndSpurs', Verdana
}

header {
    background-color: black;
}

/* Home page */
#banner {
    background-image: url(../images/home-header.jpg);
    background-size: cover;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
}

nav li {
    display: inline-block;
}

nav ul {
    padding: 0px;
}

/* Links */
a {
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.active {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
  }

.cta {
    background-color: rgb(211, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 10px 80px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}

.cta-sale-small {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
}

.cta-small {
    background-color: rgb(211, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
}

.view-guitars-button {
    background-color: rgb(211, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 10px 80px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}

#banner img[src="images/home-header.jpg"] {
    width: 100%;
}

.guitar-description {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.guitar-description > * {
    flex: 1;
}

.guitar-description img[src="images/home-info.jpg"] {
    border-radius: 50px;
}

#guitar-reviews {
    background-color: grey;
    flex: 100%;
}

#guitar-reviews img[src="images/review-bio.jpg"], [src="images/review-bio2.jpg"] {
    border-radius: 50%;
    width: 80px;
}

.view-button {
    background-color: rgb(211, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 8px 26px;
    text-decoration: none;
}

.on-sale-button {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 8px 26px;
    text-decoration: none;
}

#view-our-guitars {
    background-color: lightgrey;
}

/* Contact page */
.submit-button {
    background-color: rgb(211, 25, 25);
    color: white;
    border-radius: 3px;
}
input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
}
