@font-face {
font-family: "Tourney";
    src: url("/Resources/Fonts/Tourney/static/Tourney/Tourney-Black.ttf") format("ttf");
font-family: "Roboto";
    src: url("/Resources/Fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    src: url("/Resources/Fonts/Roboto/Roboto-Medium.ttf") format("ttf");
    src: url("/Resources/Fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}

p {
    font-family: "Roboto", Arial, Helvetica;
}

body {
    font-family: "Tourney", Tahoma, Verdana;
    font-family: "Roboto", Arial, Helvetica;    
}

h1 {
    font-family: "Tourney", Tahoma, Verdana;
}

h2 {
    font-family: "Tourney", Tahoma, Verdana;
}

header {
    font-family: "Tourney", Tahoma, Verdana;
    font-family: "Roboto", Arial, Helvetica;  
}

@media only screen and (max-width: 600px) {
}

